.tabs {
  margin-bottom: -1px !important;
  position: relative;
}
.tab-content {
  padding: 60px;
  top: 197px;
  color: #000;
  background-color: white;
}
.tab-pane {
  display: none;
}
.tab-pane.is-active {
  display: block;
  width: 50%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.is-active {
  display: initial;
}

.cent {
  display: block;
  margin: 10px auto;
  padding: 5px;
  border: 1px solid #ccc;
}

.video {
  display: block;
  margin: 0 auto;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

label {
  display: block;

  font: 1.5rem "Fira Sans", sans-serif;
}

input,
label {
  margin: 0.4rem 0;
}

html,
body {
  background: #f1f1f1;
  font-family: "Merriweather", sans-serif;
  padding: 1em;
}

h1 {
  text-align: center;
  color: black;
  font-weight: bolder;
}

/* Documentation Page contact form */
form {
  max-width: 600px;
  text-align: center;
  margin: 20px auto;
}

input {
  width: 240px;
}

.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}
.right {
  width: 50%;
}
.left {
  margin-right: 2%;
}

.contact {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.contactHead {
  font-weight: bold;
  font-size: 30px;
}

.cf p {
  font-size: 15px;
  font-weight: bold;
  font-style: oblique 50deg;
  text-align: left;
  padding-bottom: 5px;
  padding-left: 20px;
}

.cf textarea {
  width: 250px;
  height: 100px;
}

/*Search Bar*/

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid rgb(44, 121, 216);
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

.searchTerm:focus {
  color: rgb(44, 121, 216);
}

.searchButton {
  width: 35px;
  height: 28px;
  border: 0.05px solid rgb(44, 121, 216);
  background: rgb(44, 121, 216);
  text-align: center;
  color: #fff;
  border-radius: 0 2.5px 2.5px 0;
  cursor: pointer;
  font-size: 15px;
}

.wrap {
  width: 30%;
  position: sticky;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 50px;
}

/* index.html */
.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.category {
  background-color: white;
  text-decoration: underline;
  font-weight: bold;
  text-align: center;
  width: 50%;
}

.aboutUs {
  text-decoration: underline;
  font-weight: bold;
  height: 50%;
}
.visualization {
  text-decoration: underline;
  font-weight: bold;
  display: flex;
  flex-direction: column-reverse;
}

/* The css stuff for the chart */

h2,
h3 {
  line-height: 1.2;
}

/* End document default styles */
.code {
  background-color: rgb(255, 231, 202);
  font-family: "Courier New", Courier, monospace;
  color: dimgrey;
}

.container {
  position: absolute;
  right: 0;
  left: 0;
  display: flex;
  align-items: flex-start;
  font-family: Helvetica, Geneva, Tahoma, sans-serif;
  padding: 50px;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background: #fefefe;
  border: 1px dashed #ccc;
  margin: 25px;
}

.wrapper div {
  border-radius: 14px;
}

.header {
  margin: 20px 50px;
  padding: 0 20px;
  min-height: 75px;
  background: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.5em;
  text-transform: capitalize;
  flex-wrap: nowrap;
}

.instructions {
  padding: 0 25px;
}

.content {
  background: #fff;
  border: 2px dotted #444;
  align-self: flex-start;
  width: 85%;
  padding: 10px;
  overflow-wrap: break-word;
  margin: 25px 50px;
}

.activate {
  background-color: #ffc477;
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
  border-radius: 11px;
  border: 2px solid #eeb44f;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Verdana;
  font-size: 14px;
  padding: 10px 17px;
  text-decoration: none;
  text-shadow: 0px 1px 1px #cc9f52;
}

.activate:hover {
  background-color: coral;
  border: 2px solid rgb(216, 91, 46);
}

.activate:active {
  position: relative;
  top: 1px;
}

/* table css*/
.info {
  padding-top: 40px;
}

table,
td {
  border: 1px solid #333;
}

thead,
tfoot {
  background-color: rgb(149, 197, 255);
  color: #fff;
}
